<template>
  <div id="app" :style="{ backgroundImage: getBackground }">
  <main>
      <div class="search-box">
        <input type="text" class="search-bar" placeholder="City, State" v-model="query" @keypress="fetchWeather" />
      </div>
      <h1>What's the Weather Right Now?</h1>
      <div class="weather-wrap" v-if="typeof data.weather != 'undefined'">

        <div class="location-box">
          <div class="location">{{ data.city_name }}, {{ data.state_code }}</div>
        </div>

        <div class="weather-box">
          <div class="temp">{{ data.temp }} &#176;F</div>
          <div class="weather">{{ data.weather.description }}</div>
          <img :src="'https://www.weatherbit.io/static/img/icons/' + data.weather.icon + '.png'" alt="icon" />
        </div>

      </div>
  </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      apiKey: '133529d561b14c558dd8e36aa312679b',
      apiBase: `https://api.weatherbit.io/v2.0/`,
      query: '',
      data: {},
      color1: '#1e90ff',
      color2: '#fafd8f',
    }
  },
  methods: {
    fetchWeather(e) {
      if (e.key == "Enter") {
        fetch(`${this.apiBase}current?city=${this.query}&country=US&units=I&key=${this.apiKey}`)
        .then(response => {
          return response.json();
        }).then(this.setResults);
      }
    },
    setResults(results) {
      this.data = results.data[0];
      this.setTempColors(this.data.temp);
    },
    setTempColors(temp) {
      if (temp <= 5) {
        this.color2 = "#000000";
        this.color1 = "#303030";
      } else if (temp > 5 && temp <= 14) {
          this.color2 = "#303030";
          this.color1 = "#32309d";
      } else if (temp > 14 && temp <= 23) {
          this.color2 = "#32309d";
          this.color1 = "#000084";
      } else if (temp > 23 && temp <= 32) {
          this.color2 = "#000084";
          this.color1 = "#0000fe";
      } else if (temp > 32 && temp <= 41) {
          this.color2 = "#0000fe";
          this.color1 = "#3065ff";
      } else if (temp > 41 && temp <= 50) {
          this.color2 = "#3065ff";
          this.color1 = "#9cceff";
      } else if (temp > 50 && temp <= 59) {
          this.color2 = "#9cceff";
          this.color1 = "#31cfce";
      } else if (temp > 59 && temp <= 68) {
          this.color2 = "#31cfce";
          this.color1 = "#008100";
      } else if (temp > 68 && temp <= 77) {
          this.color2 = "#008100";
          this.color1 = "#ffcf00";
      } else if (temp > 77 && temp <= 86) {
          this.color2 = "#ffcf00";
          this.color1 = "#fb6705";
      } else {
          this.color2 = "#fb6705";
          this.color1 = "#fe0000";
      }
    }
  },
  computed: {
    getBackground() {
      return `linear-gradient(${this.color1}, ${this.color2})`;
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monstserrat', sans-serif
}

#app {
  background-color: gray;
  background-size: cover;
  background-position: bottom;
  transition: background 1s ease-out;  
}

main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin-bottom: 30px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: #3131331;
  font-size: 20px;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0px 16px 0px 16px;
}

.location-box .location {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
}

</style>
