* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.location, 
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

.temperature {
    flex-direction: column;
}

.degree {
    display: flex;
    align-items: center;
}

.degree span {
    margin: 10px;
}
